*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*calcula o tamanho do box pela borda*/
}

:root {
    /*Light Theme*/
    --base-light-color: 194;
    --light-color: hsl(0, 0%, 100%);
    --text-ligt-color: #121214;
    --card-light-color: #E1E1E6;
    --hover-light-color: hsl(var(--base-light-color), 97%, 31%);

    /*Dark Theme*/
    --base-dark-color: 195;
    --dark-color: hsl(240, 5%, 7%);
    --text-dark-color: hsl(240, 7%, 78%);
    --card-dark-color: hsl(240, 6%, 17%);
    --hover-dark-color: hsl(var(--base-dark-color), 74%, 15%);
    
    font-size: 62.5%; /*transforma o tamanho do pixel*/
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--light-color);
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 19.2rem;

    width: 100vw;
    height: 92vh;
}

body > div{
    position: fixed;
    right: 6rem;
    top: 6rem;
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
}

#timer{
    display: flex;
    gap: 0.8rem;

    line-height: 9.6rem;
    font-size: 15rem;
}

#controls{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 4rem;
}

svg path{
    fill: var(--text-ligt-color);
}

button {
    background-color: transparent;
    border: none;

    width: 48px;
    height: 48px;

    cursor: pointer;

    transition: transform .5s ease;
}

button:hover{
    transform: scale(1.1);
}

#menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

#menu div{
    background-color: var(--card-light-color);
    border-radius: 2.4rem;

    width: 13.8rem;
    height: 15.2rem;

    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    
    justify-content: space-around;
    align-items: center;

    transition: transform .5s ease;
}

#menu div:hover{
    background-color: var(--hover-light-color);
    transform: scale(1.1);
    cursor: pointer;
}

#menu svg path:hover{
    fill: var(--card-light-color);
}

#menu input{
   margin-bottom: 0.8rem;
}

input[type=range] {
    -webkit-appearance: none;
    border-radius: 50%;
    width: 75%;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 80%;
    height: 4px;
    background: var(--text-ligt-color);
    border: none;
    border-radius: 0.5rem;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 50%;
    background: var(--text-ligt-color);
    margin-top: -0.6rem;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #a5abae;
}

/*Classe utilizada para esconder tags*/
.hide{
    display: none;
}

footer {
    display: grid;
    align-items: center;
    justify-content: center;

    background-color: var(--card-light-color);

    width: 100vw;
    height: 8vh;
}

footer p{
    font-family: 'League Gothic', sans-serif;
    
    color: var(--text-ligt-color);
    font-weight: 600;
    font-size: 2.4rem;
    letter-spacing: 0.1rem;
}


/* Dark Mode */

.dark #menu div{
    background-color: var(--card-dark-color);
}

.dark #menu div:hover{
    background-color: var(--hover-dark-color);
}

.dark{
    background-color: var(--dark-color);
    color: var(--light-color);
}

.dark svg path{
    fill: var(--text-dark-color);
}

.dark svg path:hover{
    fill: var(--light-color);
}

.dark footer{
    background-color: var(--card-dark-color);
}
.dark footer p{
    font-weight: 300;
    color: var(--text-dark-color);
}

.dark input[type=range]::-webkit-slider-runnable-track {
    background: #747474;
}

.dark input[type=range]::-webkit-slider-thumb {
    background: var(--text-dark-color);
}



@media (max-width: 70rem) {

    main{
        flex-direction: column;
        gap: 3.6rem;
    }

    .wrapper{
        width:clamp(25rem, 70%, 40rem);
        gap: 2rem;
    }

    #timer {
        justify-content: space-around;
        font-size: 12rem;
        width: 100%;
    }


    #menu{
        align-items: center;
        justify-items: center;
        width:clamp(35rem, 70%, 40rem);
    }

    #menu div{
        width: 15rem;
        height: 16rem;
    }

    footer p {
        font-size: clamp(1.6rem, 2.4rem, 2.8rem);
    }

}